@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

a{
    text-decoration: none;
}

ul li{
    list-style-type: none;
}

img{
    width: 100%;
    height: auto;
}

:root{
    --Background-color:rgb(235, 244, 244);
    --white-color:#ffffff;
    --Btn-bg-color:#0582ca;
    --Text-color:#000000;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(235, 244, 244,0.3) ;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    align-items: center;
    padding: 0 1rem;
    background-color:white;
    position: fixed;
    z-index: 1;
    box-shadow: 0 5px 5px var(--Background-color);
}

.navbar h2 a{
    color: var(--Text-color);
    letter-spacing: 1px;
}

.btn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.btn .menu_btn {
    display: block;
    width: 1.8rem;
    height: 0.2rem;
    background-color: var(--Text-color);
    border-radius: 3px;
    position: relative;
}

.btn.active .menu_btn:nth-child(2){
    display: none;
}

.btn.active .menu_btn:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.btn.active .menu_btn:nth-child(3){
    transform: rotate(-45deg);
}

.menu {
    cursor: pointer;
    position: fixed;
    top: 5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 101%;
    background-color: white;
    padding: 1rem 0;
    transition: 1s;
}

.menu.view{
    left: 0;
}

.menu ul li{
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.menu ul li:hover {
    border-bottom: 2px solid var(--Btn-bg-color);
    width: max-content;
}

/* Header */

.header {
    width: 100%;
    height: 95vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Background-color);
    box-shadow: 0 10px 10px var(--Background-color);
}

.header_title {
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 5px;
    margin-bottom: 1rem;
}

.header_description {
    font-size: 1.2rem;
    width: 85%;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}

.project_btn {
    padding: 0.8rem 2rem;
    background-color: var(--Btn-bg-color);
    color:var(--white-color);
    font-size: 1rem;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.project_btn:hover {
    transform: translateY(-2px);
}

/* About Me */

.about_me {
    width: 100%;
    margin-bottom: 2rem;
}

.about_me .title{
    font-size: 1.5rem;
    text-align: center;
    padding: 2.5rem 0 0.5rem 0;
    position: relative;
}

.about_me .title::after{
    content: '';
    width: 30px;
    height: 7px;
    background-color: var(--Btn-bg-color);
    position: absolute;
    bottom: 0;
    left: 48%;
    border-radius: 5px;
}

.about_me p{
width: 95%;
margin: auto;
text-align: center;
letter-spacing: 1px;
margin-bottom: 2rem;
padding: 20px;
}

.about_me h2 {
  text-align: center;
}

.my_skill h2{
  margin-bottom: 1rem;

}

.about_me .skills {
width: 90%;
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 0.2rem;
margin: auto;
text-align: center;
}

.about_me .skills li {
padding: 0.3rem 0.2rem;
border: 2px solid var(--Text-color);
margin: 0.5rem;
border-radius: 5px;
background-color: var(--Background-color);
border: none;
}

.about_me .skills li:hover {
  border: 2px solid var(--Btn-bg-color);
}

/* Projects  */

.projects {
text-align: center;
position: relative;
display: flex;
flex-direction: column;
width: 100%;
margin-bottom: 3rem;
}

.projects .title {
    padding-bottom: 0.3rem;
    margin-bottom: 2rem;
    position: relative;
}

.projects .title::after{
  content: '';
  width: 30px;
  height: 7px;
  background-color: var(--Btn-bg-color);
  position: absolute;
  bottom: 0;
  left: 48%;
  border-radius: 5px;
}

.slider {
  width: 95%;
  height: 20rem;
  max-height: 30rem;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 2rem;
  box-shadow: 5px 5px 10px raba(0,0,0,0.2);
}

.slides {
  width: 900%;
  height: 25rem;
  display: flex;
}

.slide {
  width: 20%;
  transition: 2s;
  position: relative;
}

.slides img {
  width: 95%;
  height: 25rem;
}

.slides input {
  display: none;
}

.navigation_manual {
  position: absolute;
  margin-top: -4rem;
  display: flex;
  width: 95%;
  justify-content: center;
}

.manual_btn {
  border: 2px solid var(--Btn-bg-color);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: 1s;
}

.manual_btn:hover {
    background-color: #000000;
}

.manual_btn:not(:last-child){
  margin-right: 0.8rem;
}

#radio1:checked~ .first {
  margin-left: 0;
}

#radio2:checked~ .first {
  margin-left: -13%;
}

#radio3:checked~ .first {
  margin-left: -30%;
}

#radio4:checked~ .first {
  margin-left: -52%;
}

#radio5:checked~ .first {
  margin-left: -80%;
}

#radio6:checked~ .first {
  margin-left: -90%;
}

#radio7:checked~ .first {
  margin-left: -105%;
}

#radio8:checked~ .first {
  margin-left: -124.5%;
}

#radio9:checked~ .first {
  margin-left: -145%;
}

.navigation_auto {
  position: absolute;
  margin-top: 21rem;
  width:95%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.navigation_auto div {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: 1s;
}

.navigation_auto div:not(:last-child){
  margin-right: 0.8rem;
}

#radio1:checked ~ .navigation_auto .auto_btn1{
  background-color: black;
} 

#radio2:checked ~ .navigation_auto .auto_btn2{
  background-color: black;
}

#radio3:checked ~ .navigation_auto .auto_btn3{
  background-color: black;
}

#radio4:checked ~ .navigation_auto .auto_btn4{
  background-color: black;
}

#radio5:checked ~ .navigation_auto .auto_btn5{
  background-color: black;
}

#radio6:checked ~ .navigation_auto .auto_btn6{
  background-color: black;
}

#radio7:checked ~ .navigation_auto .auto_btn7{
  background-color: black;
}

#radio8:checked ~ .navigation_auto .auto_btn8{
  background-color: black;
}

#radio9:checked ~ .navigation_auto .auto_btn9{
  background-color: black;
}

.btn_project {
  margin: auto;
  margin-top: 1rem;
  background-color: var(--Btn-bg-color);
  border: none;
  border-radius: 50px;
  padding: 0.7rem 2rem;
  cursor: pointer;
}

.btn_project:hover {
  transform: translateY(-2px);
}

.btn_project a{
    color: var(--white-color);
    font-size: 0.8rem;
}


/* Contact */
.contact {
  margin-bottom: 2rem;
}
.contact h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form {
  width: 90%;
  margin: auto;
}

.form_control {
    position: relative;
}

.form_control label {
    display: inline-block;
    padding-top: 0.5rem;
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
    margin-top: 1rem;
}

.form_control input {
    display: block;
    padding: 0.8rem 0.5rem;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 15px 15px 15px 2px;
    position: relative;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}

.form_control.sucess input {
    outline: none;
    border-bottom: 2px solid green;
}

.form_control.error input {
    outline: none;
    border-bottom: 2px solid red;
}

.form_control i{
    position: absolute;
    top: 60px;
    right: 10px;
    visibility: hidden;
}

.form_control.sucess i.fa-circle-check {
    color: green;
    visibility: visible;
}

.form_control.error i.fa-circle-exclamation {
    color: red;
    visibility:visible;
}

::placeholder {
    font-size: 0.9rem;
    opacity: 0.8;
}

.form_container .form p{
    text-align: center;
    font-size: 2rem;
    margin-top: 0.5rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.form_control span {
    color: red;
    font-size: 0.9rem;
    position: absolute;
    visibility: hidden;
}

.form_control.error span{
    visibility: visible;
}

.form_control.sucess span {
    color:green;
    font-size: 0.9rem;
    position: absolute;
    visibility: visible;
}

.form_control textarea ,small{
    display: block;
}

.form_control textarea {
    width: 100%;;
    outline: none;
    border: none;
    border-radius: 25px 25px 25px 2px;
    resize: none;
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 0.3rem;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}

.form_control textarea::placeholder {
    font-size: 0.9rem;
    opacity: 0.8;
}

.form_control small {
    font-size: 0.9rem;
    color: green;
    font-weight: bold;
    text-align: right;
}

.form_control.error small {
    color:red;
}


input[type = "submit"]{
    cursor: pointer;
    background-color: var(--Btn-bg-color);
    padding: 0.8rem;
    width: 50%;
    display: block;
    margin: auto;
    text-transform: uppercase;
    margin-top: 1.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #FFF;
    opacity: 1;
}

#btn:hover {
    opacity: 0.8;
    transform: translate(0,-2px);
}


/* Footer */

.footer {
  background-color: var(--Text-color);
  color: var(--white-color);
  text-align: center;
}

.footer h2 {
  margin: 1.5rem 0;
}

.footer_links a {
  color: var(--white-color);
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.footer_links a i:hover {
  transform: translateY(-2px);
}

.footer_links {
  margin-bottom: 2rem;
}

.copy_right small{
  padding-bottom: 1.5rem;
}


.copy_right a{
  text-decoration: underline;
  color: var(--white-color);
}